.home {
	text-align: center;
}

.home img {
	padding: 1.5rem;
}

.home img:hover {
	filter: drop-shadow(0 0 3rem #673ab888);
}

.home section {
	margin-top: 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.5rem;
}
